<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwsport.core.mapper.ShareMapper" >
  <resultMap id="BaseResultMap" type="com.aiwsport.core.entity.Share" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="invitedUserId" property="inviteduserid" jdbcType="INTEGER" />
    <result column="beInvitedUserId" property="beinviteduserid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiwsport.core.entity.Share" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into share (invitedUserId, beInvitedUserId, createtime, 
      modifytime, status)
    values (#{inviteduserid,jdbcType=INTEGER}, #{beinviteduserid,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, 
      #{modifytime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aiwsport.core.entity.Share" >
    update share
    set invitedUserId = #{inviteduserid,jdbcType=INTEGER},
      beInvitedUserId = #{beinviteduserid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, invitedUserId, beInvitedUserId, createtime, modifytime, status
    from share
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, invitedUserId, beInvitedUserId, createtime, modifytime, status
    from share
  </select>
  <select id="getShareLink" resultMap="BaseResultMap">
    select id, invitedUserId, beInvitedUserId, createtime, modifytime, status
    from share
    where invitedUserId = #{arg0,jdbcType=INTEGER} AND beInvitedUserId = #{arg1,jdbcType=INTEGER}
  </select>
  <select id="getShareByInvitedUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, invitedUserId, beInvitedUserId, createtime, modifytime, status
    from share
    where invitedUserId = #{invitedUserId,jdbcType=INTEGER}
  </select>


</mapper>