<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwsport.core.mapper.ShowConfigMapper" >
  <resultMap id="BaseResultMap" type="com.aiwsport.core.entity.ShowConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="configName" property="configname" jdbcType="VARCHAR" />
    <result column="configValue" property="configvalue" jdbcType="VARCHAR" />
    <result column="configDesc" property="configdesc" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from show_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiwsport.core.entity.ShowConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into show_config (configName, configValue, configDesc, 
      createtime, modifytime, status
      )
    values (#{configname,jdbcType=VARCHAR}, #{configvalue,jdbcType=VARCHAR}, #{configdesc,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{modifytime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aiwsport.core.entity.ShowConfig" >
    update show_config
    set configName = #{configname,jdbcType=VARCHAR},
      configValue = #{configvalue,jdbcType=VARCHAR},
      configDesc = #{configdesc,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, configName, configValue, configDesc, createtime, modifytime, status
    from show_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, configName, configValue, configDesc, createtime, modifytime, status
    from show_config
  </select>
</mapper>