<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwsport.core.mapper.TemplateMapper" >
  <resultMap id="BaseResultMap" type="com.aiwsport.core.entity.Template" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="introductionId" property="introductionid" jdbcType="INTEGER" />
    <result column="templateName" property="templatename" jdbcType="VARCHAR" />

    <result column="templateDesc" property="templatedesc" jdbcType="VARCHAR" />
    <result column="chapterCount" property="chaptercount" jdbcType="INTEGER" />
    <result column="chapterCountNow" property="chaptercountnow" jdbcType="INTEGER" />

    <result column="templateUrl" property="templateurl" jdbcType="VARCHAR" />
    <result column="isFree" property="isfree" jdbcType="VARCHAR" />
    <result column="showModuleType" property="showmoduletype" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="salePrice" property="saleprice" jdbcType="DOUBLE" />
    <result column="modifytime" property="modifytime" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiwsport.core.entity.Template" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into template (introductionId, templateName, templateDesc, chapterCount, chapterCountNow, templateUrl,
      isFree, showModuleType, type, 
      salePrice, modifytime, createtime, 
      status)
    values (#{introductionid,jdbcType=INTEGER}, #{templatename,jdbcType=VARCHAR},
      #{templatedesc,jdbcType=VARCHAR}, #{chaptercount,jdbcType=INTEGER},
      #{chaptercountnow,jdbcType=INTEGER}, #{templateurl,jdbcType=VARCHAR},
      #{isfree,jdbcType=VARCHAR}, #{showmoduletype,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{saleprice,jdbcType=DOUBLE}, #{modifytime,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aiwsport.core.entity.Template" >
    update template
    set introductionId = #{introductionid,jdbcType=INTEGER},
      templateName = #{templatename,jdbcType=VARCHAR},
      templateDesc = #{templatedesc,jdbcType=VARCHAR},
      chapterCount = #{chaptercount,jdbcType=INTEGER},
      chapterCountNow = #{chaptercountnow,jdbcType=INTEGER},
      templateUrl = #{templateurl,jdbcType=VARCHAR},
      isFree = #{isfree,jdbcType=VARCHAR},
      showModuleType = #{showmoduletype,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      salePrice = #{saleprice,jdbcType=DOUBLE},
      modifytime = #{modifytime,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, introductionId, templateName, templateDesc, chapterCount, chapterCountNow, templateUrl, isFree, showModuleType, type,
    salePrice, modifytime, createtime, status
    from template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, introductionId, templateName, templateDesc, chapterCount, chapterCountNow, templateUrl, isFree, showModuleType, type,
    salePrice, modifytime, createtime, status
    from template
  </select>
  <select id="search" resultMap="BaseResultMap" parameterType="Map">
    select id, introductionId, templateName, templateDesc, chapterCount, chapterCountNow, templateUrl, isFree, showModuleType, type,
    salePrice, modifytime, createtime, status from template
    <where>
      1 = 1
     <if test="showModuleType!=null">
      and showModuleType LIKE CONCAT('%',#{showModuleType},'%')
     </if>
     <if test="templateName != null">
       and templateName=#{templateName}
     </if>
     <if test="type != null">
       and type=#{type}
     </if>
       order by createtime desc;
    </where>
  </select>
</mapper>